<div class="header">
    <img src="/assets/Icon_back_w.svg" alt="back_icon" [ngClass]="showBackButton ? 'icon' : 'no-icon'" (click)="goBack()">
    <p class="title">{{title}}</p>
    <img src="{{iconRoute}}" alt="edit_icon" class="icon">
</div>
