
.grid-container {
    height: calc(100% - 40px); 
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 51px auto;
    gap: 15px 15px;
    grid-template-areas: "header" "content";
}

.content {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: auto 1fr;
    gap: 15px 15px;
    grid-template-areas: "product-info inventory" "packaging-info inventory";
    grid-area: content;
}

.product-info { grid-area: product-info; }

.packaging-info { grid-area: packaging-info; }

.inventory { grid-area: inventory; }

// Display grid in 1 column in small screens
@media (max-width: 800px) {
    .content {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 'product-info' 'packaging-info' 'inventory';
    }
}

.container-title {
    margin: 0 0 20px 0;
} 
