<div class="grid-container">
    <app-header [title]="product.name" [showBackButton]="true" [iconRoute]="'/assets/Icon_edit_w.svg'"></app-header>
    <div class="content">
        <div class="product-info">
            <app-product-info class="product-section" [product]="product"></app-product-info>
        </div>
        <div class="packaging-info">
            <app-packaging class="packaging-section" [productId]="product.id"></app-packaging>
        </div>
        <div class="inventory">
            <app-inventary class="inventary-section" [productId]="product.id"></app-inventary>
        </div>
    </div>
</div>
