<div class="packaging-container">
  <p class="container-title">Requerimientos del packaging</p>
  <ul *ngFor="let option of packagingOptions; let i = index">
    <li>
      <mat-checkbox [(ngModel)]="packagingOptions[i].checked" class="custom-frame packaging-details bold">
        <span class="checkbox-label">{{option.name}}</span>
      </mat-checkbox>
    </li>
  </ul>
</div>