.packaging-details {
    font-size: 14px;
    line-height: 2.2;
}

.checkbox-label {
    margin-left: 20px;
}

// ng-deep is deprecated and should be avoided
::ng-deep .custom-frame {
    & .mat-checkbox-background, .mat-checkbox-frame {
        border-radius: 70% !important;
    }
  }