<div class="container">
  <app-header [title]="'Listado de productos'" [iconRoute]="'/assets/Icon_add_w.svg'"></app-header>
  <div class="product-list-container">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Producto </th>
        <td mat-cell *matCellDef="let element">
          <div class="centered-items">
            <img src="{{element.image}}" alt="image" class="product-img">
            <span class="product-label">{{element.name}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef> SKU </th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
      </ng-container>

      <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef> Código de barras </th>
        <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [(ngModel)]="element.enabled" (change)=changed() (toggleChange)=toggleChange()></mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="highlight" mat-row *matRowDef="let row; columns: displayedColumns;" 
      [class.blackBackground]="selectedProduct === row"
      (click)="selectedProduct = selectedProduct === row ? null : row; navigate(row.id);"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
