th {
  color: #6F696F;
}

td {
  color: #525251;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: center; 
}

.product-list-container {
  margin-top: 20px;
}

.mat-column-sku,
.mat-column-barcode {
  width: 12%;
}

.mat-column-enabled {
  width: 6%;
}

.product-label {
  padding-left: 20px;
}

.product-img {
  width: 50px;
  height: 50px;
}

.centered-items {
  display: flex;
  align-items: center;
}

.mat-row {
  height: 70px;
}

.highlight {
  padding-top: 5px;
  font-size: 14px;
  color: #525251;
  font-weight: 500;
}

.highlight:hover {
  td.mat-cell {
    transition: all 0.5s;
    font-size: 16px;
    color: #6e5ef8;
  }
}

.blackBackground {
  & td.mat-cell {
    color: black !important;
    font-weight: 500;
  }
} 

.icon {
  margin-left: auto;
}

@media (max-width: 800px) {

  .mat-column-enabled {
    display: none;
  }

  td.mat-cell {
    font-size: 14px;
  }

  .product-img {
    display: none;
  }

  .product-label,
  td.mat-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding: 0px;
  }

  .mat-column-name,
  .mat-column-sku,
  .mat-column-barcode {
    width: 33.33%;
  }

}
