.product-info-container {
    .container-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }  
}  

.responsive-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    min-width: 160px;;
}

.product-details {
    line-height: 1.3;

    li.title {
        font-size: 12px;
    }

    li:not(.title) {
        font-size: 14px;
    }
}

.row {
    margin-bottom: 5px;
}

.justify-center {
    display: flex;
    justify-content: center; 
}

.justify-right {
    display: flex;
    justify-content: flex-end; 
}

.align-top {
    vertical-align: top;
}
