<ng-container>
    <div class="product-info-container">
        <p class="container-title">Resumen del producto</p>
        <div class="container-content">
            <div class="justify-center">
                <img src="{{product.image}}" alt="product image" class="responsive-image">
            </div>
            <div class="product-details align-top">
                <ul>
                    <div class="row">
                        <li class="title">Producto</li>
                        <li class="bold">{{product.name}}</li>
                    </div>
                    <div class="row">
                        <li class="title">SKU</li>
                        <li class="bold">{{product.sku}}</li>
                    </div>
                    <div class="row">
                        <li class="title">Código de barras</li>
                        <li class="bold">{{product.barcode}}</li>
                    </div>
                    <div class="row">
                        <li class="title">Precio</li>
                        <li class="bold">{{product.price}}</li>
                    </div>
                    <div>
                        <li class="title justify-right">Estado</li>
                        <li class="justify-right">
                            <mat-slide-toggle [(ngModel)]="product.enabled"></mat-slide-toggle>
                        </li>
                    </div>
                </ul>
            </div>

        </div>
    </div>
</ng-container>