
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kubbo-pt-primary: mat-palette($mat-indigo);
$kubbo-pt-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kubbo-pt-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kubbo-pt-theme: mat-light-theme($kubbo-pt-primary, $kubbo-pt-accent, $kubbo-pt-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kubbo-pt-theme);
// @include mat-slide-toggle-theme(mat-light-theme($kubbo-pt-primary, $kubbo-pt-accent));


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; background-color: #F3F4F5; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

li { 
    list-style: none; 
}

ul { 
    padding: 0;
    margin: 0;
}

th.mat-header-cell {
    font-size: 12px;
}

table {
    width: 100%;
}

.header {
    display: flex;
    background-color: #6E5EF8;
    border-radius: 10px;
    align-items: center;
    padding: 0 40px 0 40px;

    .title {
        color: white;
    }
}

.icon {
    width: 27px;
    height: 27px;
}

.no-icon {
    width: 27px;
    height: 27px;
    visibility: hidden;
}

.title {
    color: #6F696F;
}

.product-list-container,
.product-info-container, 
.packaging-container, 
.inventary-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.container-title {
    margin: 0 0 20px 0;
    color: #6E5EF8;
} 

.bold {
    font-weight: 500;
}
