@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */  
$my-primary: (
    50 : #fefefe,
    100 : #fbfcfc,
    200 : #f9fafa,
    300 : #f7f7f8,
    400 : #f5f6f7,
    500 : #f3f4f5,
    600 : #f1f3f4,
    700 : #eff1f2,
    800 : #edeff0,
    900 : #eaecee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-purple: (
    50 : #eeecfe,
    100 : #d4cffd,
    200 : #b7affc,
    300 : #9a8efa,
    400 : #8476f9,
    500 : #6e5ef8,
    600 : #6656f7,
    700 : #5b4cf6,
    800 : #5142f5,
    900 : #3f31f3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d3d0ff,
    A700 : #bbb7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// below creates a primary palette with three shades of blue
$kubbo-primary: mat-palette($my-primary);
$kubbo-accent: mat-palette($my-purple, 500, 500, A100);
$kubbo-warn: mat-palette($mat-lime);

$kubbo-theme: mat-light-theme($kubbo-primary, $kubbo-accent, $kubbo-warn);

@include angular-material-theme($kubbo-theme)