tr.mat-row { 
  height: 35px; 
}

.mat-column-city {
  width: 20%;
}

.mat-column-country {
  width: 20%;
}

.mat-column-name {
  width: 20%;
}

.mat-column-stock {
  width: 20%;
}
.mat-column-percentage {
  width: 20%;
}

.stock-bar { 
	height: 20px;
	position: relative;
	background: #F3F4F5;
	border-radius: 25px;
	padding: 3px;
}

.stock-bar > span {
  display: block;
  height: 100%;
  border-radius: 25px;
  background-color: #6E5EF8;
  position: relative;
  overflow: hidden;
  animation: progress-animation 1s linear;

  @keyframes progress-animation {
      0% {width: 0%;}
  }
}

@media (max-width: 800px) {
  .mat-column-percentage {
    display: none;
  }
}
