<div class="inventary-container">
    <p class="container-title">Inventario</p>
    <div>
        <table mat-table [dataSource]="inventory">

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouseCity}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Pais </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouseCountry}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Almacén </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouseName}} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef> Stock disponible </th>
                <td mat-cell *matCellDef="let element"> {{element.stockQuantity}} uds. </td>
            </ng-container>

            <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="stock-bar">
                        <span [ngStyle]="getStockBarWidth(element.percentage)"></span>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bold"></tr>
        </table>
    </div>
</div>